<div class="container py-5 px-6 ">

  <div class="row ">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto form-outer">
      <div class="card">
        <div class="card-body "class="position-relative">
          <p class="fs-1 text-center card-title fw-bold">編輯此餐廳 </p>
          
          <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST" >

            <div class="row g-2 mb-3">
              <label for="restaurantName" class="col-md-4  col-form-label align-items-center">餐廳名字</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="name" placeholder="" id="restaurantName" value="{{restaurant.name}}" required>
              </div>
            </div>
            <div class="row g-2 mb-3">
              <label for="restaurantNameEn" class="col-md-4  col-form-label align-items-center" >餐廳英文名字</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="name_en" placeholder="" d="restaurantNameEn" value="{{ restaurant.name_en }}">
              </div>
            </div>
            <div class="row g-2 mb-3">
              <label for="restaurantLocation" class="col-md-4  col-form-label align-items-center">餐廳地址</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="location" placeholder="" id="restaurantLocation" value="{{ restaurant.location }}" required>
              </div>
            </div>
            <div class="row g-2 mb-3">
              <label for="googleMapLocation" class="col-md-4  col-form-label align-items-center">Google map網址</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="google_map" placeholder="" id="googleMapLocation" value="{{ restaurant.google_map }}">
              </div>
            </div>
            <div class="row g-2 mb-3">
              <label for="restaurantPhone" class="col-md-4  col-form-label align-items-center">餐廳電話</label>
              <div class="col-md-9">
                <input type="tel" class="form-control" name="phone" placeholder="02 XXXX XXXX" id="restaurantPhone" value="{{ restaurant.phone }}" required>
              </div>
            </div>
            <div class="row g-2 mb-3">
              <label for="image" class="col-md-4  col-form-label align-items-center">圖片來源</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="image" placeholder="請貼上網址" id="image" value="{{ restaurant.image }}"
                  required>
              </div>
              </div>
            <div class="row g-2 form-group mb-5">
              <label for="restaurantCategory" class="col-md-4  col-form-label align-items-center">餐廳種類</label>
              <div class="col-md-9">
                <select name="category" id="restaurantCategory" class="form-select" aria-label="restaurantCategory">
                  required>
                  <option {{#if restaurant.American}} selected {{/if}}>美式</option>
                  <option {{#if restaurant.cafe}} selected {{/if}}>咖啡</option>
                  <option {{#if restaurant.MiddleEastern}} selected {{/if}}>中東料理</option>
                  <option {{#if restaurant.Japanese}} selected {{/if}}>日本料理</option>
                  <option {{#if restaurant.Italian}} selected {{/if}}>義式餐廳</option>
                  <option {{#if restaurant.pub}} selected {{/if}}>酒吧</option>
                  <option {{#if restaurant.other}} selected {{/if}}>其他</option>
                </select>
              </div>
            </div>
            
            <div class=" mb-4">
              <textarea class="form-control" id="restaurantDescription" name="description" rows="3" placeholder="請寫下關於餐廳的介紹" >{{ restaurant.description }}</textarea>
            </div>

            <button type="submit" class="btn btn-major">儲存</button>
            <a href="/" class="btn btn-light" role="button">返回</a>
            
          </form>
          <form action="/restaurants/{{restaurant._id}}?_method=DELETE
          " class="d-flex flex-row-reverse " method="POST">
            <button type="submit" class="btn btn-light">刪除</button>
          </form>
        </div>
      </div>
    </div>
  </div>